html {
	font-family: "Nimbus Roman", Times, serif;
	hyphens: auto;
}

section {
	page-break-after: always;
	string-set: pageNumber attr(data-page-number)
}

p {
	font-size: 12pt;
	margin: 0;
	text-align: justify;
	line-height: 1.3;
}
p.indented {
	text-indent: 2ch;
}

h1 + p::first-letter, h2 + p::first-letter {
	line-height: 1;
	font-size: 1.5em;
	font-weight: bold;
}

blockquote {
	font-style: italic;
}

h1, h2 {
	string-set: chapterTitle content(text);
	text-align: center;
}

h1 {
	page: firstPageInChapter;
	font-weight: lighter;
	font-size: 20pt;
	margin-top: 10pt;
}
h2 {
	font-weight: lighter;
	font-size: 16pt;
	bookmark-level: none;
}
h3 {
	font-weight: lighter;
	font-size: 14pt;
	bookmark-level: none;
}

/* shim for weasyprint */
td[align="right"], th[align="right"]{
	text-align: right;
}

@page {
	size: 5.5in 8.5in;
	margin-top: 0.65in;
	margin-left: 0.65in;
	margin-right: 0.65in;
	margin-bottom: 0.5in;
	@top-center {
		text-transform: uppercase;	
		margin-top: 22pt;
		font-size: 0.6em;
		letter-spacing: 0.25em;
	}
	@top-right {
		margin-top: 22pt;
		margin-right: 5pt;
		font-size: 9pt;
		letter-spacing: 1pt;
	}
	@top-left {
		margin-top: 22pt;
		margin-left: 5pt;
		font-size: 9pt;
		letter-spacing: 1pt;
	}
	@bottom-center {
		vertical-align: top;
		font-size: 9pt;
		letter-spacing: 1pt;
	}
}
@page firstPageInChapter {
	margin-bottom: 0.65in;
	@top-center {
		content: "";
	}
	@top-right {
		content: "";
	}
	@top-left {
		content: "";
	}
	@bottom-center {
		content: string(pageNumber);
	}
}
@page :left {
	@top-left {
		content: string(pageNumber);
	}

	@top-center {
		content: "Alcoholics Anonymous";
	}
}
@page :right {
	@top-right {
		content: string(pageNumber);
	}

	@top-center {
		content: string(chapterTitle);
	}
}
@page blank {
	@top-right { content: "" }
	@top-left { content: "" }
	@top-center { content: "" }
	@bottom-center { content: "" }
}

p.footnote {
	padding-top: 0.5em;
	border-top: 0.5pt solid black;
	margin-top: 1em;
}

p.footnote,
p.footnote + p
{
	font-size: 7pt;
}

/* PAGES WHICH SHOULD BE BLANK */

section[data-page-number="i"],
section[data-page-number="ii"],
section[data-page-number="iii"],
section[data-page-number="viii"],
section[data-page-number="ix"],
section[data-page-number="x"]
{
	page: blank;
}

/* PAGES WHICH SHOULDN'T HAVE A BOLD FIRST LETTER */

section[data-page-number="iv"] h1 + p::first-letter,
section[data-page-number="iv"] h2 + p::first-letter,
section[data-page-number="v"] h1 + p::first-letter
{
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
}

/* FIRST PAGE */

section[data-page-number="i"] p {
	text-align: center;
	font-weight: bold;
}

section[data-page-number="i"] p:nth-child(1) {
	margin-top: 2.5in;
	font-size: 15pt;
	letter-spacing: 1pt;
}

section[data-page-number="i"] p:nth-child(2) {
	font-size: 12pt;
}

/* TITLE PAGE */

section[data-page-number="iii"] p {
	text-align: center;
	font-size: 12pt;
	margin-bottom: 10px;
}

section[data-page-number="iii"] p:first-child {
	font-size: 40pt;
	font-weight: bold;
	margin-bottom: 15pt;
	padding-bottom: 5pt;
	border-bottom: 1pt solid black;
}

section[data-page-number="iii"] p:first-child em {
	font-size: 20pt;
	font-weight: normal;
	display: block;
}

section[data-page-number="iii"] p:nth-child(4) {
	margin-top: 125pt;
}

section[data-page-number="iii"] p:nth-child(5) {
	padding-top: 10pt;
	border-top: 1pt solid black;
}

section[data-page-number="iii"] p:nth-child(5),
section[data-page-number="iii"] p:nth-child(8)
{
	font-size: 10.5pt;
}

section[data-page-number="iii"] p:nth-child(7)
{
	margin-bottom: 10pt;
}

section[data-page-number="iii"] p:nth-child(6),
section[data-page-number="iii"] p:nth-child(9)
{
	font-size: 9pt;
}

section[data-page-number="iii"] p:nth-child(7),
section[data-page-number="iii"] p:nth-child(10)
{
	font-size: 8pt;
}

section[data-page-number="iii"] p:nth-child(5),
section[data-page-number="iii"] p:nth-child(6),
section[data-page-number="iii"] p:nth-child(8),
section[data-page-number="iii"] p:nth-child(9),
section[data-page-number="iii"] p:nth-child(10)
{
	margin-bottom: 3pt;
}

/* COPYRIGHT PAGE */

section[data-page-number="iv"] h1,
section[data-page-number="iv"] h2,
section[data-page-number="iv"] p
{
	text-align: center;
}

section[data-page-number="iv"] p {
	margin-bottom: 10pt;
	font-size: 10pt;
}

/* TABLE OF CONTENTS */

section[data-page-number="v"] table {
	hyphens: manual;
	table-layout: fixed;
	width: 100%
}

section[data-page-number="v"] th {
	font-weight: normal;
	font-style: italic;
}

section[data-page-number="v"] td
{
	font-family: "Nimbus Roman No9 SC", Times, serif;
	font-variant: small-caps;
}

section[data-page-number="v"] th:first-child {
	width: 4ch;
}

section[data-page-number="v"] th:last-child {
	width: 7ch;
}

section[data-page-number="v"] td {
	padding-top: 7pt;
}

section[data-page-number="v"] td:nth-child(1)
{
	padding-right: 5pt;
}

section[data-page-number="v"] tr:nth-child(1) td:nth-child(3),
section[data-page-number="v"] tr:nth-child(2) td:nth-child(3),
section[data-page-number="v"] tr:nth-child(3) td:nth-child(3),
section[data-page-number="v"] tr:nth-child(4) td:nth-child(3),
section[data-page-number="v"] tr:nth-child(5) td:nth-child(3),
section[data-page-number="v"] tr:nth-child(6) td:nth-child(3),
section[data-page-number="v"] tr:nth-child(7) td:nth-child(3)
{
	font-family: inherit;
	font-size: 11pt;
	vertical-align: bottom;
}

/* ABOUT THIS REMIX */

section[data-page-number="vi"] h2 {
	margin-top: 75pt;
	string-set: initial;
}

/* FORWARD TO THE FIRST AND SECOND EDITION */

section[data-page-number="xiii"] p:first-of-type,
section[data-page-number="xv"] p:first-of-type {
	text-align: center;
	margin: auto;
	width: 80%;
	margin-bottom: 10pt;
}

section[data-page-number="xiii"] p:nth-of-type(1)::first-letter,
section[data-page-number="xv"] p:nth-of-type(1)::first-letter {
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
}


section[data-page-number="xiii"] p:nth-of-type(2)::first-letter,
section[data-page-number="xv"] p:nth-of-type(2)::first-letter {
	line-height: 1;
	font-size: 1.5em;
	font-weight: bold;
}

/* DOCTOR'S OPINION */

section[data-page-number="xxv"] blockquote,
section[data-page-number="xxvi"] blockquote,
section[data-page-number="xxvii"] blockquote,
section[data-page-number="xxviii"] blockquote,
section[data-page-number="xxix"] blockquote,
section[data-page-number="xxx"] blockquote,
section[data-page-number="xxxi"] blockquote,
section[data-page-number="xxxii"] blockquote
{
	margin-left: 2ch;
	margin-right: 2ch;
}

section[data-page-number="xxv"] blockquote p,
section[data-page-number="xxvi"] blockquote p,
section[data-page-number="xxvii"] blockquote p,
section[data-page-number="xxviii"] blockquote p,
section[data-page-number="xxix"] blockquote p,
section[data-page-number="xxx"] blockquote p,
section[data-page-number="xxxi"] blockquote p,
section[data-page-number="xxxii"] blockquote p
{
	font-size: 11pt;
	font-style: normal;
	text-indent: 2ch;
}

section[data-page-number="xxv"] blockquote p:first-child,
section[data-page-number="xxvi"] blockquote p:first-child,
section[data-page-number="xxviii"] blockquote p:first-child,
section[data-page-number="xxix"] blockquote p:first-child,
section[data-page-number="xxx"] blockquote p:first-child
{
	text-indent: 0ch;
}

section[data-page-number="xxvi"] blockquote p:last-child,
section[data-page-number="xxvi"] blockquote p:nth-last-child(2),
section[data-page-number="xxxii"] blockquote p:last-child
{
	text-align: right;
}

/* HOW IT WORKS (a), (b), (c) LIST */

section[data-page-number="60"] table {
	margin: 15pt 0 15pt 3pt
}

section[data-page-number="60"] table, td {
	vertical-align: top;
	line-height: 1.3;
}

section[data-page-number="60"] table, td:nth-child(2) {
	padding-left: 3pt;
}

/* HOW IT WORKS RESENTMENT TABLE */

section[data-page-number="65"] table {
	hyphens: manual;
	font-size: 10pt;
	table-layout: fixed;
	width: 100%;
	margin-top: 25pt;
	margin-bottom: 25pt;
}

section[data-page-number="65"] table th {
	font-weight: normal;
	font-style: italic;
}

section[data-page-number="65"] table th:nth-child(1) {
	width: 13ch;
}

section[data-page-number="65"] table th:nth-child(2) {
	width: 22ch;
}

section[data-page-number="65"] table th:nth-child(3),
section[data-page-number="65"] table td:nth-child(3)
{
	padding-left: 5pt;
}

section[data-page-number="65"] table td {
	padding-top: 5pt;
	vertical-align: top;
}

